<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"/>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
  <link rel="stylesheet" href="../css/stili.css">
  <script src="../skripte/skripta.js"></script>
  <head>
    <meta charset="UTF-8">
    <title>1. pisni izpit OIS 2018-2019</title>
  </head>
  <body>

    <!-- MENI -->
    <meni class="senca rob">
      <div id="vremeOkolica"></div>
      <div id="bliznjiKraji">
      </div>
      <button id="prikaziZgodovino" class="senca rob">Prikaži zgodovino</button>
    </meni>

    <!-- TELO -->
    <telo id="mapa_id" class="senca rob"></telo>

  </body>
</html>
