<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Vremensko poročilo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/stili.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container text-center">
      <h3>Zgodovina vremenskih podatkov izbranih krajev</h3>
      <table class="table table-condensed">
        <tr>
            <th class="text-center">Poštna številka</th>
            <th class="text-center">Kraj</th>
            <th class="text-center">Vreme</th>
            <th class="text-right">Temperatura</th>
        </tr>
        <% for(var i=0; i < 2; i++) { %>

          <tr>
            <th class="text-center"><%= myVar[i].postnaStevilka %></th>
            <th class="text-center"><%= myVar[i].kraj %></th>
            <th class="text-center"><%= myVar[i].vreme %></th>
            <th class="text-right"><%= myVar[i].temperatura %></th>
          </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>
